/*CSS:cascada style sheet: es lineal de arriba hacia abajo*/

/* selectores: etiquetas html */
body {
  background-color: #eee;
  color: #505055;
}

/*selectore: id: identificador unico para un elemento html. se usa el numeral para definirlo.*/
#primerSpan {
  color: blue;
}
/*selectore: clase: para cuando queremos hacer una composcion de estilos sobre un elemento html o para cuando queremos compartir el estilo a lo largo de varias etiquetas html. se usa el punto para definirlo*/
.segundoSpan {
  color: chartreuse;
}

.caja {
  margin: 8px; /*Margin bordea el contenido pero por fuera del contenedor, desplazando el objeto al centro*/
  padding: 8px; /*padding bordea el contenido pero por dentro del contenedor*/
  border-style: dotted solid double inset; /*boordea el limite del contenido, y se encuentra entre el padding y el margin. puede ser solid(linea continua), dash(linea punteada), dotted(lina de puntos), double(dos lineas solid), groove(un tipo de sombra blanca hacia arriba), ridge(sombra hacia abajo), inset (presionado), outset(contrario a inset), none(ninguno), hidden(none) y pueden ser convinados considerando que afectan asi: arriba derecha abajo izquierda, ej: dotted, solid,double, inset*/
  border-width: 8px; /*ancho del borde*/
  border-color: darkgreen;
  border-left: 6px outset #000; /*se puede hacer con todos los bordes de la caja, sobre escribiendo el dado por defecto en el elemento, el orden es: ancho, estilo, color*/
  border-radius: 8px; /*simula un circulo en las esquinas*/
  height: 100px; /*Alto*/
  width: 100px; /*Ancho*/
  color: #0a0; /*color del contenido*/
  background-color: darkgray;
}

hr {
  margin: 0;
}

.container {
  background-color: #fff;
  border-width: 2px;
  border-style: solid;
  border-radius: 3px;
  border-color: #ccc;
  border-top: 0px;
}
.header {
  margin: 0px 0px 1px 0px;
  padding: 2px;
  padding-left: 8px;
  border-bottom: solid 1px #e0e0e0;
}
.mensaje {
  margin: 0px 0px 1px 0px;
  padding: 2px;
  padding-left: 8px;
  border-bottom: solid 1px #e0e0e0;
}
.footer {
  margin: 0px;
  padding: 8px;
}
.primary {
  background-color: #4961e9;
  color: #f0eef0;
  padding: 4px;
  border-style: solid;
  border-color: #4961e9;
}
.secondary {
  background-color: #afafaf;
  color: #f0eef0;
  padding: 4px;
  border-style: solid;
  border-color: #afafaf;
}

/*Colores, alineado, text decoration, align,transform, indent, heigth*/
p {
  color: #4961e9; /*Color*/
  text-align: left; /*Indica la alineacion del texto, puede ser center, right, left, start y justify*/
  text-indent: 15px; /*indenta el text, aplica sangria*/
  line-height: 1.5; /*interlineado entre renglon y renglon*/
  word-spacing: 12px; /*agrega espacio entre las palabras del parrafo*/
  text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.5 /*que tanto se aplica el color seleccionado del rgb*/); /*le agrega una sombra al texto, el orden es que tanto a la derecha, que tan abajo, que tan difuminado, y que color al final */
}
a {
  text-decoration: none; /*Decoracion del texto puede ser: underline, overline, line-throgh*/
  text-transform: capitalize; /*transforma la sintaxis del texto. puede ser capitalize(primera mayuscula), uppercase(todo mayusculas), lowercase(todo minusculas) */
  letter-spacing: 3px; /*agrega espacio entre las letras del texto*/
  background-color: indigo; /*en los links se puede cambiar el color del fondo, pudiendolos resaltar*/
  padding: 5px;
  margin-left: 15px;
  border-radius: 50px;
}

/*Tipos de fuentes*/
span {
  color: #4961e9;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
    "Open Sans", "Helvetica Neue", sans-serif;
  font-style: oblique; /*Estilo para la fuente, ppuede ser normal, italic(cursiva), oblique(parecida a la italica)*/
  font-size: 20px; /*Tamaño*/
  font-size: 1.5em; /*em es proporcional al dispositivo*/
  font-weight: bold; /*Ancho del texto, puede ser una medida o un bold u normal*/
  font-weight: 900; /*va del 100 al 900, de 100 en 100*/
}

a:link/*No visitado o no clickeado*/ {
  color: lightcoral;
  text-decoration: none;
}
a:visited/*link clickeado o visitado*/ {
  color: #4961e9;
  text-decoration: line-through;
}
a:hover/*mouse encima*/ {
  color: gray;
  border: solid 3px #000;
  background-color: #0ff;
  text-decoration: underline;
}
a:active /*cuando clickeamos el link*/ {
  color: #000;
}

/*Para los elementos que estan dentro de otro elemento*/
ul {
  background-color: #fff;
  border: solid 1px #ddd;
  border-radius: 8px;
  padding-left: 0px;
}
li {
  border-bottom: solid 1px #ddd;
  padding: 10px;
}
ul li {
  list-style-type: none; /*cambia el mostrador de cada list item, puede ser circle(circulo vacio), square(cuadrado), upper-roman(numeros romanos), lower-alpha(alfabeto) y none*/
}
li:last-child/*child hace referencia a los hijos*/ {
  border-bottom: none;
}
/*Tablas*/
table {
  width: 100%;
  border-collapse: collapse; /*indica si queremos que la tabla tenga bordes en sus casillas*/
}
tr:nth-child(even)/*even(impares), odd(pares)*/ {
  background-color: #ccc;
}
td {
  padding: 8px;
  border: solid 1px #000;
}
table th {
  background-color: tomato;
  color: #fff;
  text-align: left;
  padding: 10px 0px 10px 8px;
  border: solid 1px #000;
  border-top: solid 2px #000;
}

/*Display: es como se ve un elemento en la ventana pouede ser inline, inblock o none(no muestra el elemento), se pueden distinguir segun donde aparece el siguiente elemento*/
p {
  display: block;
}
span {
  display: block;
}
.invisible {
  display: none;
}

/*Maxwidth y posicion*/
.ancho {
  max-width: 500px; /*la dice al navegador cual es el ancho maximo que puede utilizar el selector, pero no indica el valor del ancho del elemento*/
  background-color: aqua;
  margin: auto; /*Centramos el contenido, siempre y cuando el elemento tenga display in block*/
  position: static; /*Por defecto todos los elementos vienen con una posicion static, pero podemos ponerla en relativo(nueva posicion en base a donde swe encuentra)*/
  position: relative;
  left: 150px;
  top: auto;
  position: fixed; /*Deja el elemento en una posicion definida a lo largo de toda la pantalla, sin importar que hagamos scroll se van a seguir mostrando*/
}

/*overflow*/
.over {
  width: 100px;
  height: 100px;
  overflow: hidden; /* lo que esta dentro de la etiqueta se ve si esta en visible, si esta en hidden ocualta lo sobrante, en scroll, muestra las barras de navegacion, y si esta en auto, se muestran las barras de navegacion necesarios*/
  overflow-x: scroll;
  overflow-y: hidden; /*podemos separar las propiedades de overflow segun los ejes x y y*/
}

img {
  float: right; /*provoca que el contenido que le sigue utilice el espacio restante en el lado opuesto*/
}
/*Selectores con decendientes, opacidad*/
div p {
  color: red;
  opacity: 1; /*va del 0 al 1 para indicar la transparencia con decimales*/
}
